<div class="container d-flex justify-content-around">

	<div class="days">
		<div>
			<% @places.each do |place| %>
				<div class="day-card d-flex" href="#<%= dom_id(place) %>" data-toggle="modal">
					<div style="width: 90px; height: 100%; background-color: blue;"></div>
					<div class="place-text m-3">
						<h2><%= place.name %></h2>
						<p><%= place.category %></p>
					</div>
				</div>
				<%= render partial: "partials/modal", locals: {place: place, itinerary: @itinerary} %>
			<% end %>
		</div>
	</div>


	<div class="days">
		<nav aria-label="Page navigation example">
			<ul class="pagination nav nav-pills mb-3" id="pills-tab" role="tablist">
				<% @itinerary.days.each_with_index do |day, ind| %>
				  <li class="page-item">
				    <a class="page-link" href="#pills-<%=ind %>"  id="pills-<%= ind %>-tab" data-toggle="pill"  role="tab" aria-controls="pills-<%= ind %>" aria-selected="true"><%= day.name %></a>
				  </li>
			  <% end %>
			</ul>
		</nav>
		<div class="tab-content" id="pills-tabContent">
		 	<% @itinerary.days.each_with_index do |day, ind| %>
				<div id="pills-<%= ind %>" class="tab-pane fade <%= ind == 0 ? 'show active' : "" %>" role="tabpanel" aria-labelledby="pills-<%= ind %>-tab">
          <div class="day-card">
          	<h2><%= day.morning_id ? @places[(day.morning_id)-1].name  : "morning" %></h2>
          	<p><%= @places[(day.morning_id)-1].category if day.morning_id %></p>
          </div>
          <div class="day-card">
          	<h2><%= day.lunch_id ? @places[(day.lunch_id)-1].name  : "lunch" %></h2>
          	<p><%= @places[(day.lunch_id)-1].category if day.lunch_id %></p>
          </div>
          <div class="day-card">
          	<h2><%= day.afternoon_id ? @places[(day.afternoon_id)-1].name  : "afternoon" %></h2>
          	<p><%= @places[(day.afternoon_id)-1].category if day.afternoon_id %></p>
          </div>
          <div class="day-card">
          	<h2><%= day.dinner_id ? @places[(day.dinner_id)-1].name  : "dinner" %></h2>
          	<p><%= @places[(day.dinner_id)-1].category if day.dinner_id %></p>
          </div>
          <div class="day-card">
          	<h2><%= day.evening_id ? @places[(day.evening_id)-1].name  : "morning" %></h2>
          	<p><%= @places[(day.evening_id)-1].category if day.evening_id %></p>
          </div>
				</div>
			<% end %>
		</div>
	</div>
</div>	

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

