<div class="itin-title text-center">
	<h1><%= @itinerary.title.capitalize %></h1>
	<p><%= @itinerary.duration %> days</p>
</div>
<hr style="width: 60%;">
<div class="text-center mt-3">
  <div>
    <%= render partial: "partials/navigation_buttons"%>  
  </div>
</div>

<div class="edit-container my-5">
	<div class="row">
		<div class="col-lg-6">
			<div class ="places">
				<div class="mb-4 text-center">
					<% if params["filter"].present? %>
						<h3>Featured <%= params["filter"] %></h3>
					<% else %>
						<h3>Featured Attractions</h3>
					<% end %>
				</div>
				<% @filtered_places.each do |place| %>
					<div href="#place-modal" data-toggle="modal" data-place-id="<%= place.id %>" data-photo-key="<%= url_for(place.photo) %>" data-description="<%=  place.description %>" data-place-name=" <%= place.name %>" data-place-url="<%= place.link_url %>" class="place-card d-flex modal-trigger">
						<div class="place-img"><%= cl_image_tag place.photo.key %></div>
						<div class="place-text m-3">
							<h2><%= place.name %></h2>
							<p><%= place.category %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<div class="col-lg-6 p-0">
		<div class="days">
			<div class="text-center mb-4">
				<div class="mb-4">
					<h3>Your Itinerary</h3>
				</div>
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
					<div class="carousel-inner">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						  <% @itinerary.days.order(id: :asc).each_with_index do |day, ind| %>
						    	<li class="carousel-item <%= 'active' if ind == 0 %>">
						 			<a class="carousel-tab btn btn-primary profile-button w-25" href="#pills-<%=ind %>" id="pills-<%= ind %>-tab" data-toggle="pill" role="tab" aria-controls="pills-<%= ind %>" aria-selected="true"><%= day.name %></a>
						   		</li>
						  	<% end %>
					 	</ul>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true" style="color: $orange;"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				</div>
				<div class="pe-5 tab-content" id="pills-tabContent">
					<% @itinerary.days.order(id: :asc).each_with_index do |day, ind| %>
						<div id="pills-<%= ind %>" class="pill-container edit-container tab-pane fade <%= ind == 0 ? 'show active' : "" %>" role="tabpanel" aria-labelledby="pills-<%= ind %>-tab">
							<div class="day-card d-flex mb-4">
								<% if day.morning %>
									<% if day.morning.photo.attached? %>
									<div class="day-img"><%= cl_image_tag day.morning.photo.key%></div>
									<% else %>
										<%= image_tag "https://images.unsplash.com/photo-1536663815808-535e2280d2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "day-img"%>
									<% end %>
									<div class="itin-text">
										<h2><%= day.morning.name %></h2>
										<p><%= day.morning.category %></p>
									</div>
								<% else %>
									<h3>Morning</h3>
								<% end %>
							</div>
							<div class="day-card d-flex mb-4">
								<% if day.lunch %>
									<% if day.lunch.photo.attached? %>
									<div class="day-img"><%= cl_image_tag day.lunch.photo.key%></div>
									<% else %>
										<%= image_tag "https://images.unsplash.com/photo-1536663815808-535e2280d2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "day-img"%>
									<% end %>
									<div class="itin-text">
										<h2><%= day.lunch.name %></h2>
										<p><%= day.lunch.category %></p>
									</div>
								<% else %>
									<h3>Lunch</h3>
								<% end %>
							</div>
							<div class="day-card d-flex mb-4">
								<% if day.afternoon %>
									<% if day.afternoon.photo.attached? %>
										<div class="day-img"><%= cl_image_tag day.afternoon.photo.key%></div>
									<% else %>
										<%= image_tag "https://images.unsplash.com/photo-1536663815808-535e2280d2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "day-img"%>
									<% end %>
									<div class="itin-text">
										<h2><%= day.afternoon.name %></h2>
										<p><%= day.afternoon.category %></p>
									</div>
								<% else %>
									<h3>Afternoon</h3>
								<% end %>
							</div>
							<div class="day-card d-flex mb-4">
								<% if day.dinner %>
									<% if day.dinner.photo.attached? %>
										<div class="day-img"><%= cl_image_tag day.dinner.photo.key%></div>
									<% else %>
										<%= image_tag "https://images.unsplash.com/photo-1536663815808-535e2280d2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "day-img"%>
									<% end %>
									<div class="itin-text">
										<h2><%= day.dinner.name %></h2>
										<p><%= day.dinner.category %></p>
									</div>
								<% else %>
									<h3>Dinner</h3>
								<% end %>
							</div>
							<div class="day-card d-flex mb-4">
								<% if day.evening %>
									<% if day.evening.photo.attached? %>
										<div class="day-img"><%= cl_image_tag day.evening.photo.key%></div>
									<% else %>
										<%= image_tag "https://images.unsplash.com/photo-1536663815808-535e2280d2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80", class: "day-img"%>
									<% end %>
									<div class="itin-text">
										<h2><%= day.evening.name %></h2>
										<p><%= day.evening.category %></p>
									</div>
								<% else %>
									<h3>Evening</h3>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="map"
		style="width: 100%; height: 60vh;"
		data-markers="<%= @markers.to_json %>"
		data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<%= render partial: "partials/modal" %>
<div class="text-center">
  <%= link_to 'My Daily Planner', itinerary_path , class: "btn btn-primary profile-button w-25 m-5"%>
</div>	



