<div class="spacer"></div>
<%= form_with model: @itinerary do |form| %>
	<%= form.fields_for :days do |day_form| %>
		<div class="day-form">
			<%= day_form.check_box :_destroy %>

			<%= day_form.select :morning_id, options_for_select(Place.all.map{ |place| [place.name, place.id]}, selected: day_form.object.morning_id ) %>
			<%= day_form.select :lunch_id, options_for_select(Place.all.map{ |place| [place.name, place.id]}, selected: day_form.object.lunch_id ) %>
			<%= day_form.select :afternoon_id, options_for_select(Place.all.map{ |place| [place.name, place.id]}, selected: day_form.object.afternoon_id ) %>
			<%= day_form.select :dinner_id, options_for_select(Place.all.map{ |place| [place.name, place.id]}, selected: day_form.object.dinner_id ) %>
			<%= day_form.select :evening_id, options_for_select(Place.all.map{ |place| [place.name, place.id]}, selected: day_form.object.evening_id ) %>
			
		</div>
	<% end %>
	<%= form.submit :submit %>
<% end %>