<div class="show-page-container" >
    <div class="centered-text p-2">    
        <h1><%= @itinerary.title.capitalize %></h1>
        <h3><%= "#{@itinerary.days.count} Days" %></h3>
        <%= link_to "Edit My Trip", edit_itinerary_path(@itinerary), class: "btn  button-orange" %>
    </div>
        <hr style="width: 60%; height:2em;">
<div class="itinerary-show-page">
  <div class="show-box">
    <ul class="d-flex">
        <li>Morning</li>
        <li>Lunch</li>
        <li>Afternoon</li>
        <li>Dinner</li>
        <li>Evening</li>
    </ul>
      <div data-controller="drag" data-drag-url="/days/:id/move_place">
          <% @itinerary.days.order(id: :asc).each_with_index do |day, index| %>
          <div class="day-content d-flex" >
            <div class="btn btn-primary"><%= "Day #{index+1}" %></div>
                  <div class="place-card d-flex ml-0" >
                    <% if day.morning%>
                      <div class="place-img"><%= cl_image_tag day.morning.photo.key%></div>
                      <div>
                        <h2><%= day.morning.name %></h2>
                        <p><%= day.morning.category %></p>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0">
                    <% if day.lunch %>
                      <div class="place-img"><%= cl_image_tag day.lunch.photo.key%></div>
                      <div>
                        <h2><%= day.lunch.name %></h2>
                        <p><%= day.lunch.category %></p>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0">
                    <% if day.afternoon %>
                      <div class="place-img"><%= cl_image_tag day.afternoon.photo.key%></div>
                      <div>
                        <h2><%= day.afternoon.name %></h2>
                        <p><%= day.afternoon.category %></p>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0" >
                    <% if day.dinner %>
                      <div class="place-img"><%= cl_image_tag day.dinner.photo.key%></div>
                      <div>
                        <h2><%= day.dinner.name %></h2>
                        <p><%= day.dinner.category %></p>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0">
                    <% if day.evening %>
                      <div class="place-img"><%= cl_image_tag day.evening.photo.key%></div>
                      <div>
                        <h2><%= day.evening.name %></h2>
                        <p><%= day.evening.category %></p>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

        