<div class="show-page-container" >
    <div class="centered-text p-2">    
        <h1 style="font-size: 60px;"><%= @itinerary.title.capitalize %></h1>
        <h3><%= "#{@itinerary.days.count} Days" %></h3>
        <%= link_to "Edit My Trip", edit_itinerary_path(@itinerary), class: "btn  button-orange" %>
    </div>
    <hr style="width: 40%;">
    <div class="d-flex align-items-center justify-content-center my-3">
      <div class="home-number-small mr-3">3</div>
      <div class="form-title-h2">DAILY PLANNER</div>
    </div>
    <div class="container d-flex category-buttons">
        <div class="btn btn-ghost" data-category="Museums">Museums<i class="fas fa-archway btn-icon btn-icon-green"></i></div>
        <div class="btn btn-ghost" data-category="Landmarks">Landmarks<i class="fas fa-map-signs btn-icon btn-icon-red"></i></div>
        <div class="btn btn-ghost" data-category="Activities">Activities<i class="fas fa-hiking btn-icon btn-icon-blue"></i></div>
        <div class="btn btn-ghost" data-category="Restaurants">Restaurants<i class="fas fa-glass-martini-alt btn-icon btn-icon-yellow"></i></div>
    </div>
<div class="itinerary-show-page">
  <div class="show-box">
    <ul class="d-flex column-top">
        <li class="column-top" id="morning"><h3>Morning</h3></li>
        <li class="column-top" id="lunch"><h3>Lunch</h3></li>
        <li class="column-top" id="afternoon"><h3>Afternoon</h3></li>
        <li class="column-top" id="dinner"><h3>Dinner</h3></li>
        <li class="column-top" id="evening"><h3>Evening</h3></li>
    </ul>
    <div data-controller="drag" data-drag-url="/days/move_place"></div>
          <% @itinerary.days.order(id: :asc).each_with_index do |day, index| %>
          <div class="day-content d-flex" >
            <div class="vertical-text btn-primary day-btn"><%= "Day #{index+1}" %></div>
              <div class="d-flex day-places">
                  <div class="place-card d-flex ml-0" data-daytime="morning" data-day-id="<%= day.id %>" data-place-id= "<%= day.morning ? day.morning.id : nil %>">
                    <% if day.morning%>
                      <div class="place-img"><%= cl_image_tag(day.morning.photo.key, width: 300, height:200, crop: "scale")%></div>
                      <div>
                        <h2><%= day.morning.name %></h2>
                        <%= sanitize find_icon(day.morning.category) %>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0" data-daytime="lunch" data-day-id="<%= day.id %>" data-place-id= "<%= day.lunch ? day.lunch.id : nil %>">
                    <% if day.lunch %>
                      <div class="place-img"><%= cl_image_tag(day.lunch.photo.key, width: 300, height:200, crop: "scale")%></div>
                      <div>
                        <h2><%= day.lunch.name %></h2>
                        <%= sanitize find_icon(day.lunch.category) %>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0" data-daytime="afternoon" data-day-id="<%= day.id %>" data-place-id= "<%= day.afternoon ? day.afternoon.id : nil %>">
                    <% if day.afternoon %>
                      <div class="place-img"><%= cl_image_tag(day.afternoon.photo.key, width: 300, height:200, crop: "scale")%></div>
                      <div>
                        <h2><%= day.afternoon.name %></h2>
                        <%= sanitize find_icon(day.afternoon.category) %>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0"  data-daytime="dinner" data-day-id="<%= day.id %>" data-place-id= "<%= day.dinner ? day.dinner.id : nil %>">
                    <% if day.dinner %>
                      <div class="place-img"><%= cl_image_tag(day.dinner.photo.key, width: 300, height:200, crop: "scale")%></div>
                      <div>
                        <h2><%= day.dinner.name %></h2>
                        <%= sanitize find_icon(day.dinner.category) %>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
                  <div class="place-card d-flex ml-0" data-daytime="evening" data-day-id="<%= day.id %>" data-place-id= "<%= day.evening ? day.evening.id : nil %>">
                    <% if day.evening %>
                      <div class="place-img"><%= cl_image_tag(day.evening.photo.key, width: 300, height:200, crop: "scale")%></div>
                      <div>
                        <h2><%= day.evening.name %></h2>
                        <%= sanitize find_icon(day.evening.category) %>
                      </div>
                    <% else %>
                      <h3>__</h3>
                    <% end %>
                  </div>
            </div>
      </div>
          <% end %>
    </div>
  </div>
</div>

        