<%= simple_form_for(@itinerary) do |f| %>
  <div class="d-flex align-items-center justify-content-center m-3">
    <div class="home-number-small mr-3">1</div>
    <div class="form-title-h2">CHOOSE YOUR DESTINATION</div>
  </div>
  <%= f.input :title, input_html: { placeholder: "Trip title" }, label: false %>
  <%= f.input :duration, input_html: { placeholder: "Number of days", min: "1" }, label: false %>
  <%= f.input :city, collection: ["Lisbon", "Porto", "Algarve", "Evora", "Coimbra"], prompt: 'Your ideal city', label: false %>
  <%= f.button :submit, 'Create Itinerary',  class: "btn btn-primary" %>
<% end %>
