<div class="banner" style="background-image: linear-gradient(rgba(230, 254, 255, 0.2),rgba(230, 254, 255, 0.2)), url('<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1614772809/maritime_ihqzvh.jpg" %>');">
  <div class="container banner-container">
    <h1>Travellier</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class = "home-button-container">
      <div class="home-button">
        <button class="button">
            <span class="default">Start Planning</span>
            <span class="success">Generating...</span>
            <div class="left"></div>
            <div class="right"></div>
        </button>
      </div>
      <%# <a class="btn btn-flat banner-button" href="#">Start Planning</a> %>
      <div class="dropdown-form dropdown-form-hidden">
        <%= render "partials/itinerary_form" %>
        <div class="dropdown-form-exit">
          x
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "partials/navigation_buttons" %>

<div class="container home-grid py-5">
  <div class="row align-items-center py-2 home-column-1">
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src='<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1614773050/plan_pia2lp.jpg" %>' alt="pic" class="home-img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-number home-number-right">1</div>
      <div class="home-grid-info">
        <h2>CHOOSE YOUR DESTINATION</h2>
        <p>Get inspired and quickly search where you would like to go and for how long.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-2 home-column-2">
    <div class="col-lg-6">
      <div class="home-number home-number-left">2</div>
      <div class="home-grid-info">
        <h2>PLAN YOUR TRIP</h2>
        <p>Easily add places you want to visit, activities you want to do and food you want to eat to your daily calendar/planner and manage your time according to your needs.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1614773618/plane_xh4hma.jpg" %>" alt="pic" class="home-img">
      </div>
    </div>
  </div>
  <div class="row align-items-center py-2 home-column-3">
    <div class="col-lg-6">
      <div class="home-img-div">
        <img src="<%= cl_image_path "https://res.cloudinary.com/df6gjhrs5/image/upload/v1614773020/travel_ktdaqm.jpg" %>" alt="pic" class="home-img">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="home-number home-number-right">3</div>
      <div class="home-grid-info">
        <h2>DAILY PLANNER</h2>
        <p>Have at your fingertips your day by day itinerary to make sure you get the best hassle-free experience out of your trip. All in one place!</p>
      </div>
    </div>
  </div>
</div>