<!DOCTYPE html>
<html>
  <head>
    <title>TravellierApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container"><%= render "partials/navbar" %></div>
      <div class="content-container" style="min-height: calc(100vh - 132px)"><%= yield %></div>
      <div class="footer-container"><%= render "partials/footer" %></div>
    </div>
    <%= render 'shared/flashes' %>
  </body>
</html>
